@use "../base/variables" as vars;

.ruedas {
  h1 {
    color: vars.$color-primario;
    font-weight: bold;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  img {
    border: 3px solid vars.$color-primario;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }
}
