@use "../base/variables" as vars;

header.presentacion {
  position: relative;
  height: 600px;
  background: url("../images/img--bienvenida 2.jpg") center/cover no-repeat;

  .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
  }

  @media (max-width: 768px) {
    height: 400px;
  }
}
